@mixin customScroll {
  &::-webkit-scrollbar {
    width: 8px;
    &-track {
      background: #474747;
    }
    &-thumb {
      background: #5a5a5a;
      &:hover {
        background: #707070;
      }
    }
  }
}

@mixin panelHeader {
  height: 65px;
  padding: 0 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: var(--header-background-color);

  & > h1 {
    margin: 0;
    color: var(--header-text-color);
    font-family: var(--header-font);
    font-weight: 300;
    font-size: 24px;
  }
}
