.button {
  border: none;
  padding: 7px 18px;
  color: #fff;
  background: var(--bg-color, #553e6d);
  border-radius: 5px;
  font-family: var(--content-font);
  font-size: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(1.2);
  }
}

.icon-button {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  // background: rgba(#fff, 0.2);
  background: none;
  border-radius: 50%;
  cursor: pointer;

  & > svg {
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
  }

  &:hover {
    background: rgba(#fff, 0.2);
  }
}
