.canvas {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.paper {
  width: var(--paper-width);
  height: var(--paper-height);
  background-image: var(--paper-background);
  background-color: #e8e8e8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
}

.manifest {
  position: absolute;
  bottom: 0;
  left: 0;
  width: fit-content;
  transform-origin: left top;
  white-space: nowrap;
  color: #fff;

  & > h1 {
    margin: 0;
    font-family: var(--header-font);
    font-weight: 400;
    font-size: 25px;
  }

  & > h2 {
    margin: 0;
    font-family: var(--header-font);
    font-weight: 400;
    font-size: 20px;
  }
}
