.editor {
  position: relative;
  display: flex;
  height: var(--viewport-height);
  border-radius: 20px;
  overflow: hidden;

  & * {
    box-sizing: border-box;
  }

  &__layers {
    position: relative;
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__viewport {
    flex-grow: 1;
    background-color: var(--canvas-background-color);
    background-image: var(--canvas-background-image);
    background-repeat: repeat;
  }

  &__rootactions {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;

    & > button {
      border: none;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4d3b72;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.42);
      border-radius: 10px;
      cursor: pointer;

      & > svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &::after {
    box-shadow: inset 0 0 50px rgba(#000, 25%);
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &:fullscreen {
    border-radius: 0;
    height: 100%;
  }
}
