.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  opacity: 0.8;

  & > h1 {
    --color: #624f88;
    align-self: flex-end;
    margin: 0;
    font-family: var(--header-font);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-shadow: var(--color) 2px 0px 0px,
      var(--color) 1.75517px 0.958851px 0px,
      var(--color) 1.0806px 1.68294px 0px,
      var(--color) 0.141474px 1.99499px 0px,
      var(--color) -0.832294px 1.81859px 0px,
      var(--color) -1.60229px 1.19694px 0px,
      var(--color) -1.97998px 0.28224px 0px,
      var(--color) -1.87291px -0.701566px 0px,
      var(--color) -1.30729px -1.5136px 0px,
      var(--color) -0.421592px -1.95506px 0px,
      var(--color) 0.567324px -1.91785px 0px,
      var(--color) 1.41734px -1.41108px 0px,
      var(--color) 1.92034px -0.558831px 0px;
  }
}
